<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PPNI"
        tools:targetApi="31">
        <activity
            android:name=".DetailInformasiActivity"
            android:exported="false"
            android:label="Detail Informasi"
            android:parentActivityName=".DetailInformasiActivity"
            android:theme="@style/Theme.PPNI"/>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="Tentang Aplikasi"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="Registrasi"
            android:parentActivityName=".RegisterActivity"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".DetailDataPerawat"
            android:exported="false"
            android:label="Detail Data Perawat"
            android:parentActivityName=".DetailDataPerawat"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".UpdateDataPerawatActivity"
            android:exported="false"
            android:label="Update Data Perawat"
            android:parentActivityName=".UpdateDataPerawatActivity"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".InformasiActivity"
            android:exported="false"
            android:label="Informasi Kegiatan"
            android:parentActivityName=".InformasiActivity"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".InputDataPerawatActivity"
            android:exported="false"
            android:label="Input Data Perawat"
            android:parentActivityName=".InputDataPerawatActivity"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".DataPerawatActivity"
            android:exported="false"
            android:label="Lihat Data Perawat"
            android:parentActivityName=".DataPerawatActivity"
            android:theme="@style/Theme.PPNI" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Dashboard"
            android:theme="@style/Theme.PPNI" />
    </application>

</manifest>